@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,600;0,700;0,800;1,600;1,700&display=swap');
@import url('https://rsms.me/inter/inter.css');
body {
  display: flex;
  justify-content: center;
  background-color: #f7f8f9;
  font-family: 'Inter', sans-serif;
}
.Container {
  font-size: 14px;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100vh;
}
.titleApp {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  color: #2e2e2e;
}
.donate {
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 1px;
  margin: 4px 0;
}
.donate span {
  background-color: green;
  color: #ffffff;
  padding: 6px;
}
.btnSubmit {
  border: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  min-width:300px;
  transition: all 0.2s ease-in-out;
  background-color: #2e2e2e;
  color: #ffffff;
  letter-spacing:1px;
  cursor: pointer;
  width: max-content;
  position:sticky;
  bottom: 10px;
}
.btnSubmit:hover {
  background-color: green;
}
.Question {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
.Question .item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius:5px;
  font-size: 12px;
  padding: 10px 8px;
  width: 700px;
  height: 100%;
  position: relative;

}
.Question .item .answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Question .item .title {
  font-weight: 500;
  font-size: 18px;
  padding-right: 50px;
  padding-left: 10px;
}
.Question .item .answer .answerItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.Question .item .answer .answerItem:hover {
  background-color: #f7f8f9;
}
.Question .item .answer .answerItem input[type="radio"] {
  display: none;
}
input:checked ~ label{
  transition: all 0.2s linear;
  background-color: #2e2e2e;
  color: #ffffff;
}
.Question .item .answer .answerItem label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}
.Question .item .answer .answerItem.show > label{
  background-color: green !important;
  color: #ffffff;
  pointer-events:none;
}
.Question .item .answer .answerItem.hide{
  pointer-events: none;
}
.Question .item .answer .answerItem.hide input:checked ~ label{
  transition: all 0.2s linear;
  background-color: red;
  color: #ffffff;
  
}
.isCorrect {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  color: #ffffff;
  padding: 10px;
  border-radius: 0 5px 0 0;
}
.isCorrect.false {
  background-color: red;

}
.isCorrect.true {
  background-color: green;

}
.search {
  display: flex;
  width: 100%;
  margin: 5px 0;
  position: relative;
}
.search input {
  flex: 1;
  padding: 20px;
  font-size: 20px;
}
.search .close{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.search .close.active{
  opacity: 1;
}
@media only screen and (max-width: 844px) {
  body {
    display: block;
  }
.Container {
  font-size: 14px;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}
.titleApp {
  text-align: center;
  width: 100%;
}
.donate {
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 1px;
  margin: 4px 0;
}
.donate span {
  background-color: green;
  color: #ffffff;
  padding: 6px;
}
.btnSubmit {
  border: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  min-width:300px;
  transition: all 0.2s ease-in-out;
  background-color: #2e2e2e;
  color: #ffffff;
  letter-spacing:1px;
  cursor: pointer;
  width: max-content;
  position:sticky;
  bottom: 10px;
}
.btnSubmit:hover {
  background-color: green;
}
.Question {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  overflow-y: scroll;
}
.Question .item {
  padding: 0;
  width: 100%;

}
.Question .item .answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Question .item .title {
  font-weight: 500;
  font-size: 18px;
  padding-right: 50px;
  padding-left: 10px;
}
.Question .item .answer .answerItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.Question .item .answer .answerItem:hover {
  background-color: #f7f8f9;
}
.Question .item .answer .answerItem input[type="radio"] {
  display: none;
}
input:checked ~ label{
  transition: all 0.2s linear;
  background-color: #2e2e2e;
  color: #ffffff;
}
.Question .item .answer .answerItem label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}
.Question .item .answer .answerItem.show > label{
  background-color: green !important;
  color: #ffffff;
  pointer-events:none;
}
.Question .item .answer .answerItem.hide{
  pointer-events: none;
}
.Question .item .answer .answerItem.hide input:checked ~ label{
  transition: all 0.2s linear;
  background-color: red;
  color: #ffffff;
  
}
}
